<h1>Actor Info</h1>

<p>Actor Name: <%= @actor.name %></p>
<p><%= @actor.name %> debuted in <%= @actor.year_first_film %>.</p>
<p>Academy Award status: <%= @actor.academy_award %></p>
<p>ID: <%= @actor.id %></p>
