<h1>Update Artist</h1>

<%= form_for (@artist) do |form| %>
<%= form.label :name %>
<%= form.text_field :name %><br>

<%= form.label :debut_year %>
<%= form.text_field :debut_year %><br>

<%= form.label :grammy_winner %>
<%= form.text_field :grammy_winner %><br>

<%= form.submit "Submit changes" %>
<% end %>
