<h1>Artist Info</h1>

<p><b>Artist Name:</b> <%= @artist.name %></p>
<p><b>Debut Year</b> <%= @artist.debut_year %>.</p>
<p><b>Grammy Winner status: </b><%= @artist.grammy_winner %></p>
<p><b>Song Count: </b><%= @artist.song_count %></p>
<p><b>ID:</b> <%= @artist.id %></p>

<%= link_to 'Click to view songs by this artist' , "/artists/#{@artist.id}/songs" %>
</br></br>
<%= link_to 'Click to edit this artist', "/artists/#{@artist.id}/edit" %>
