<h1>Artist Info</h1>

<p>Artist Name: <%= @artist.name %></p>
<p><%= @artist.name %> debuted in <%= @artist.debut_year %>.</p>
<p>Grammy Winner status: <%= @artist.grammy_winner %></p>
<p>ID: <%= @artist.id %></p>
